Since Stock is not always available through API. Preparations must be made to obtain financial data through Webscrapping

In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import warnings
# Ignore all warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [12]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/netflix_data_webpage.html"
#extracts html content
data  = requests.get(url).text
print(data[0:100])
#parser it to a beautiful soup obj
soup = BeautifulSoup(data, 'html.parser')
#creates a table with these columns
netflix_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])
print(netflix_data)

<!DOCTYPE html><html id="atomic" class="NoJs chrome desktop" lang="en-US"><head prefix="og: http://o
Empty DataFrame
Columns: [Date, Open, High, Low, Close, Volume]
Index: []

In [13]:
for row in soup.find("tbody").find_all('tr'):
    col = row.find_all("td")
    date = col[0].text
    Open = col[1].text
    high = col[2].text
    low = col[3].text
    close = col[4].text
    adj_close = col[5].text
    volume = col[6].text

    netflix_data = pd.concat([netflix_data,pd.DataFrame({"Date":[date], "Open":[Open], "High":[high], "Low":[low], "Close":[close], "Adj Close":[adj_close], "Volume":[volume]})], ignore_index=True)    

netflix_data.head()

           Date    Open    High     Low   Close       Volume Adj Close
0  Jun 01, 2021  504.01  536.13  482.14  528.21   78,560,600    528.21
1  May 01, 2021  512.65  518.95  478.54  502.81   66,927,600    502.81
2  Apr 01, 2021  529.93  563.56  499.00  513.47  111,573,300    513.47
3  Mar 01, 2021  545.57  556.99  492.85  521.66   90,183,900    521.66
4  Feb 01, 2021  536.79  566.65  518.28  538.85   61,902,300    538.85

In [14]:
#Extracting Data using pandas library
#since only 1 table is availble it takes the first one.
read_html_pandas_data = pd.read_html(url)
netflix_dataframe = read_html_pandas_data[0]
netflix_dataframe.head()

           Date    Open    High     Low  Close* Adj Close**     Volume
0  Jun 01, 2021  504.01  536.13  482.14  528.21      528.21   78560600
1  May 01, 2021  512.65  518.95  478.54  502.81      502.81   66927600
2  Apr 01, 2021  529.93  563.56  499.00  513.47      513.47  111573300
3  Mar 01, 2021  545.57  556.99  492.85  521.66      521.66   90183900
4  Feb 01, 2021  536.79  566.65  518.28  538.85      538.85   61902300

In [19]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/amazon_data_webpage.html"
data = requests.get(url).text
soup = BeautifulSoup(data, 'html.parser')
print(soup.title)
print(soup.title.attribute)

<title>Amazon.com, Inc. (AMZN) Stock Historical Prices &amp; Data - Yahoo Finance</title>
None

In [20]:
amazon_data = pd.DataFrame(columns=["Date", "Open", "High", "Low", "Close", "Volume"])

for row in soup.find("tbody").find_all("tr"):
    col = row.find_all("td")
    date = col[0]
    Open = col[1]
    high = col[2]
    low = col[3]
    close = col[4]
    adj_close = col[5]
    volume = col[6]
    
    amazon_data = pd.concat([amazon_data, pd.DataFrame({"Date":[date], "Open":[Open], "High":[high], "Low":[low], "Close":[close], "Adj Close":[adj_close], "Volume":[volume]})], ignore_index=True)

In [23]:
amazon_data[0:5]

,Date,Open,High,Low,Close,Volume,Adj Close
0,"[[Jan 01, 2021]]","[[3,270.00]]","[[3,363.89]]","[[3,086.00]]","[[3,206.20]]","[[71,528,900]]","[[3,206.20]]"
1,"[[Dec 01, 2020]]","[[3,188.50]]","[[3,350.65]]","[[3,072.82]]","[[3,256.93]]","[[77,556,200]]","[[3,256.93]]"
2,"[[Nov 01, 2020]]","[[3,061.74]]","[[3,366.80]]","[[2,950.12]]","[[3,168.04]]","[[90,810,500]]","[[3,168.04]]"
3,"[[Oct 01, 2020]]","[[3,208.00]]","[[3,496.24]]","[[3,019.00]]","[[3,036.15]]","[[116,226,100]]","[[3,036.15]]"
4,"[[Sep 01, 2020]]","[[3,489.58]]","[[3,552.25]]","[[2,871.00]]","[[3,148.73]]","[[115,899,300]]","[[3,148.73]]"

In [24]:
amazon_data.columns

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [48]:
print(len(amazon_data))
df = amazon_data.iloc[-1]
print(df)

61
Date         [[Jan 01, 2016]]
Open               [[656.29]]
High               [[657.72]]
Low                [[547.18]]
Close              [[587.00]]
Volume        [[130,200,900]]
Adj Close          [[587.00]]
Name: 60, dtype: object

In [49]:
print(len(amazon_data))
df = amazon_data.iloc[0]
print(df)

61
Date         [[Jan 01, 2021]]
Open             [[3,270.00]]
High             [[3,363.89]]
Low              [[3,086.00]]
Close            [[3,206.20]]
Volume         [[71,528,900]]
Adj Close        [[3,206.20]]
Name: 0, dtype: object