<h1> Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List some popular languages used by data scientist
- List some common libraries used by data scientist
- List some tools used in data science
- Show an example of arithmetic expressions in python
- e

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Java
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Seaborn
3. Torch
4. Scikit-Learn

| Data Science Tools |
| -------------| 
| Jupyter Notebook |
| Github | 
| Apache Spark |

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [2]:
#This a simple arithmetic expressionto mutiply then add integers
x = (3*4)+5
print(x)

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
t_min = 200
t_hour = t_min/60
print(t_hour)

3.3333333333333335

## Author
Tengku Aizat